.slider .axis .axis-tick-mark,
.slider .axis .axis-minor-tick-mark {
    -fx-stroke: red;
}

.table-view .scroll-bar:vertical {
    -fx-opacity: 1;
    -fx-presence: true; /* Zorgt ervoor dat de ruimte altijd gereserveerd blijft */
}

.table-view .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.no-horizontal-scroll .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-max-height: 0;
}